<div style = "width: 500px;height:300px;margin : 0 auto; text-align:center;">
    <h1> 나만의 로또 추첨 </h1>
    
    <%= @number_list %>
    <hr><hr>
    <%= @number_pick %>
    <hr><hr>
    <%= @number_origin %>
    <hr><hr>
    <%= @number_bonus %>
    <hr><hr>
    <div>
        <table style = "border : 1px solid black;margin : 0 auto;">
            <tr>
                <th style = "border : 1px solid black;">
                    당첨번호
                </th>
                <th style = "border : 1px solid black;">
                    보너스
                </th>
            </tr>            
            <tr>
                <td style = "border : 1px solid black;">
                    <% @number_origin.each do |x|  %>
                    <%= image_tag "ball_" + x.to_s + ".png" %>
                    <% end %>
                </td>
                <td style = "border : 1px solid black;">
                    <% @number_bonus.each do |x|  %>
                    <%= image_tag "ball_#{x}.png" %>
                    <% end %>
                </td>
            </tr>
        </table>
    </div>
</div>